html {
    height: 100%;
}
body {
    background-color: rgb(108, 108, 143);
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
        margin-left: auto;
        margin-right: auto;
        width: 960px;   
}
header {
    height: 35px;
    text-align: center;
}
nav {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.308);
    text-align: center;
    padding-top: 10PX;
    padding-bottom: 15px;
}
main {
    height: 250px;
    color:  rgba(15, 13, 13, 0.952);
    text-align: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 140px;
    padding-right: 140px;
}
footer {
    background-color: rgba(0, 0, 0, 0.514);
    text-align: center;
}
NAV A {
    text-decoration: none;
    font-size: 15px;
    padding-left: 40PX;
    padding-right: 40PX;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  white;
}
main h1 {
    font-size: 30px;
    color: rgba(10, 9, 9, 0.747);
} 
main h1 a {
    text-decoration: none;
    background-color: rgba(180, 195, 207, 0.514);
}
main p {
    font-family: cursive;
}
main h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(26, 29, 26, 0.822);
    padding: auto;
}
main h2 a {
    background-color: rgba(180, 195, 207, 0.514);
}
main h3 a {
    background-color: rgba(180, 195, 207, 0.514);
}
main ul {
    display: inline-block;
}
main .menu-btn1 {
    text-decoration: none;
    color: white;
    background-color: rgba(24, 20, 214, 0.548);
    padding: 15px 15px;
    border-radius: 20px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
}
main .menu-btn2 {
    text-decoration: none;
    color: white;
    background-color: rgba(24, 20, 214, 0.548);
    padding: 15px 15px;
    border-radius: 20px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
}
footer p {
    font-size: 20px;
    padding-top: 20PX;
    padding-bottom: 20PX;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}